<h3>Book List</h3>
<!-- <h1>{{ getI(i) }}</h1> -->
<hr />
<h1>{{ books }}</h1>
<!-- <h1>{{ a | async | book }}</h1> -->
<table>
  <tr
    *ngFor="
      let book of book$ | async;
      let i = index;
      let f = first;
      let l = last;
      let e = even;
      let o = odd
    "
  >
    <td>{{ i }} - {{ book.title }}</td>
    <td>
      <a [routerLink]="[book.isbn]">{{ book.isbn }}</a>
    </td>
    <td>{{ f }},{{ l }}, {{ e }}, {{ o }}</td>
  </tr>
</table>
<!-- {{ bar | async | json }}
<hr />
{{ foo | async }} -->
