<p>mouse-position works!</p>
<div
  [style.backgroundColor]="getColor()"
  (mousemove)="mouseMoved($event)"
  style="height: 200px; width: 200px; border: 1px solid"
>
  x: {{ x }} <br />
  y: {{ y }}
</div>
<div>
  <input
    [value]="r"
    (input)="range($event, 'r')"
    type="range"
    min="0"
    max="255"
    step="1"
  />
  <input
    [value]="g"
    (input)="range($event, 'g')"
    type="range"
    min="0"
    max="255"
    step="1"
  />
  <input
    [value]="b"
    (input)="range($event, 'b')"
    type="range"
    min="0"
    max="255"
    step="1"
  />
</div>
<div>{{ getColor() }}</div>
